div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .row2 {
    color: #979797;
    background-color: #ffffff;
  }
  #container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#header, #container, #footer, #copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
}
.one_third {
    width: 30%;
    display: block;
    float: left;
    margin: 0 30px 0 0;
}
.lastbox {
    margin-right: 0;
}
#container .more {
    text-align: right;
}
.row2 a {
    color: #ff9900;
    background-color: #ffffff;
}

.one_third figure img{
    width: 270px;
}

@media screen and (max-width:992px) {
    .one_third {
        width: 45%;
       
    }
}

@media screen and (max-width:600px){
    .one_third {
        width: 90%;
       
    }
    .one_third figure img{
        width: 100%;
    }
}