.main {
    width: 750px;
    height: 500px;
    background-color: whitesmoke;
}
.para {
    margin-left: 90px;
}
.para ul {
    margin-top: 15px;
    padding-top: 15px;
}
.para ul li {
    margin-right: 45px;
    display: inline;
    margin-top: 10px;
}
  li:hover{
    color: blueviolet;
  }  
  h6 {
    background-image: url(../kelvin\ flies.jpg);
    width: 215px;
    height: 150px;
    margin-left: 480px;
    font-size: 17px;
    padding-left: 12px;
}
.box {
    width: 720px;
    height: 185px;
    border: 5px solid red;
    border-radius: 25px;
    margin: auto;
}
div#inbox {
    display: flex;
    justify-content: space-evenly;
    width: 725px;
    height: 180px;
}
.one {
    width: 140px;
    border: 1px solid;
    margin-top: 12px;
    border-radius: 10px;
}
.one h5 {
    margin-left: 40px;
    font-size: 17px;
    margin-bottom: 11px;
}
.one p {
    margin-left: 50px;
}
.one img {
    height: 50px;
    width: 100px;
    margin-left: 25px;
}
.two {
    width: 140px;
    border: 1px solid;
    margin-top: 12px;
    border-radius: 10px;
}
.two h5 {
    margin-left: 40px;
    font-size: 17px;
    margin-bottom: 11px;
}
.two p {
    margin-left: 50px;
}
.two img {
    height: 50px;
    width: 100px;
    margin-left: 25px;
}
.three {
    width: 140px;
    border: 1px solid;
    margin-top: 12px;
    border-radius: 10px;
}
.three h5 {
    margin-left: 20px;
    font-size: 17px;
    margin-bottom: 11px;
}
.three p {
    margin-left: 50px;
}
.three img {
    height: 50px;
    width: 100px;
    margin-left: 25px;
}
.four {
    width: 140px;
    border: 1px solid;
    margin-top: 12px;
    border-radius: 10px;
}
.four h5 {
    margin-left: 20px;
    font-size: 17px;
    margin-bottom: 11px;
}
.four p {
    margin-left: 50px;
}
.four img {
    height: 50px;
    width: 100px;
    margin-left: 25px;
}





