.container {
    width: 755px;
    height: 600px;
}
div#first {
    width: 300px;
    height: 422px;
    background: aqua;
    margin: auto;
    border-radius: 10px;
}
.image img {
    width: 50px;
    position: relative;
    left: 120px;
    top: 20px;
    border-radius: 27px;
     background: linear-gradient(45deg, black, #e3074e); 
}
.para h3 {
    position: relative;
    left: 80px;
}
.one img {
    width: 30px;
    height: 30px;
}
.second img {
    width: 30px;
    height: 30px;
}
.third img {
    width: 30px;
    height: 30px;
}
div#second {
    width: 230px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 40px;
}
.one h4 {
    margin: auto;
    position: relative;
    right: 20px;
}
.second h4 {
    margin: auto;
    position: relative;
    right: 17px;
}
.third h4 {
    margin: auto;
    position: relative;
    right: 14px;
}
marquee img {
    width: 24px;
}
article img {
    width: 115px;
    height: 90px;
}
section img {
    width: 115px;
    height: 100px;
}
aside {
    float: right;
    position: relative;
    bottom: 158px;
}
article {
    width: 115px;
    height: 90px;
}
section {
    width: 115px;
    height: 100px;
}