.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
  gap: 10px;
}
.menu {
  width: 200px;
  height: calc(100vh - 50px);
  background-color: black;
  position: absolute;
  top: 50px;
  right: -250px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  transition: all 1s ease;
}

.menu-top {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-search {
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-icon {
  color: gray;
}

.menu-search input {
  width: 75%;
  border: none;
  background-color: lightgray;
  color: black;
}

.menu-search input:focus {
  outline: none;
}

.menu-center {
  flex: 0.8;
}

.menu-item {
  margin-top: 20px;
  cursor: pointer;
}

.menu-item span {
  margin-left: 10px;
}

.menu-bottom {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bottom-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-bottom-user span {
  font-size: 14px;
}

.menu img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.menu.active {
  transform: translateX(-250px);
}

.line-container.active .line-1 {
  transform: rotate(45deg);
}

.line-container.active .line-2 {
  opacity: 0;
}

.line-container.active .line-3 {
  transform: rotate(-45deg);
}
footer {
  background-color: #3a3737;
  height: 150px;
}

footer {
  background-color: #3a3737;
  height: 150px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
   
}
svg.icon.youtube {
  width: 150px;
  height: 150px;
  color: red;
}
svg.icon.youtube:hover {
  width: 150px;
  height: 150px;
  color: rgb(248, 85, 9);
  padding: 10px;
  border: 5px solid wheat;
  border-radius: 70px;
  background: #282c34;
  margin: 10px;
}
svg.icon.twitter {
  width: 150px;
  height: 150px;
  color: skyblue;
}
svg.icon.twitter:hover {
  width: 150px;
  height: 150px;
  color: rgb(20, 175, 227);
  padding: 10px;
  border: 5px solid wheat;
  border-radius: 70px;
  background: #282c34;
  margin: 10px;
}
svg.icon.cartplus {
  width: 150px;
  height: 150px;
  color: gray;
}
svg.icon.cartplus:hover {
  width: 150px;
  height: 150px;
  color: yellow;
  padding: 10px;
  border: 5px solid wheat;
  border-radius: 70px;
  background: #282c34;
  margin: 10px;
}
svg.icon.github {
  width: 150px;
  height: 150px;
  color: gray;
}
svg.icon.github:hover{
  width: 150px;
    height: 150px;
    color: yellow;
   padding: 10px;
   border: 5px solid wheat;
   border-radius: 70px;
   background: #282c34;
}
